@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: #ffffed;
}

.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.plantTreeWp {
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.ptTitle {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 5%;
}

.ptImg {
  width: 160px;
  height: 160px;
  margin-bottom: 8%;
}

.step {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 30px;
  border-radius: 40px;
  background: linear-gradient(180deg, #f0ffc8 0%, #cce685 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 500;
}

.treeNameWp,
.callNameWp,
.selectFlowerWp,
.growTimeWp {
  position: relative;
  bottom: 350px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}
.selectFlowerWp,
.growTimeWp {
  margin-bottom: 10%;
}
.treeNameWp,
.callNameWp {
  width: 700px;
}
.stepOne1,
.stepOne2,
.stepTwo3,
.stepTwo4 {
  width: 40px;
  height: 40px;
  z-index: 10px;
  margin-left: 5%;
}

.treeTitle,
.callTitle,
.flowerTitle,
.growTitle {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-weight: 700;
  width: 300px;
  margin-left: 4%;
  text-align: left;
}

.treeNameInput,
.callNameInput {
  margin-left: 10%;
  background-color: #ffffed;
  height: 30px;
  border: 0;
  border-bottom: 2px solid #3d4c00;
}

input[type="text"] {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 300;
  width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 300;
}

.nextBtn {
  width: 150px;
  height: 45px;
  color: #fff;
  font-family: "Pretendard Variable";
  padding: 15px 25px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 40px;
  background: linear-gradient(180deg, #8eb200 0%, #3d4c00 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 110%;
  left: 70%;
  z-index: 100;
}

.line {
  position: relative;
  top: 150px;
  float: auto;
  margin-right: 84.5%;
  z-index: 0;
}
.line2 {
  position: relative;
  top: 100px;
  float: auto;
  z-index: 0;
  margin-right: 84%;
}
/*step2 css*/
.selectFlowerWp,
.growTimeWp {
  bottom: 400px;
}

.sFNotice,
.gTNotice {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.gTNotice {
  margin-top: 40px;
}
li {
  width: 550px;
  text-indent: -20px;
}

.stepTwo3,
.stepTwo4 {
  width: 40px;
  height: 40px;
  z-index: 10;
  margin-left: 5%;
}
.flowerTitle,
.stepTwo3 {
  margin-bottom: 10%;
}
.flowerWp {
  position: relative;
  top: 30px;
  right: 5%;
}

.flo {
  margin-left: 20px;
}

.radioWp {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: 20px;
  right: 25px;
}
[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 2px #3d4c00;
  border: 4px solid #fcfcea;
  border-radius: 50%;
  background-color: #fcfcea;
}

[type="radio"]:checked {
  box-shadow: 0 0 0 2px #3d4c00;
  border: 4px solid fcfcea;
  background-color: #3d4c00;
}

.period {
  margin-left: 3%;
  margin-right: 15%;
}
