@import url("https://hangeul.pstatic.net/hangeul_static/css/NanumBuJangNimNunCiCe.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.container {
  position: absolute;
  top: 8%;
  left: 18%;
  width: auto;
  height: auto;
}
.mainLetter {
  color: #2b2b2b;
  position: fixed;
  top: 10.4%;
  font-family: "NanumBuJangNimNunCiCe";
  font-size: 28px;
  font-weight: 400;
  padding-top: 230px;
  padding-left: 120px;
  line-height: 60px;
  z-index: 50;
}
.letterTop {
  position: fixed;
  top: 50%;
  margin-left: -6px;
  z-index: 10;
}
.envelopMain {
  position: fixed;
  z-index: 1000;
  top: 77.7%;
}
.mainLetter::placeholder,
.mainLetter:focus {
  color: #2b2b2b;
  font-family: "NanumBuJangNimNunCiCe";
  font-size: 28px;
  font-weight: 400;
}

.toastStyle {
  position: fixed;
  display: block;
  bottom: 20px;
  right: 650px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  font-size: 16px;
  line-height: 1.5;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.toastAnimation {
  transform: translateY(0);
}

.toastStyle.hide {
  opacity: 0;
  transform: translateY(20px);
}

.tooltip {
  position: absolute;
  transform: translateX(218%) translateY(370%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
}
