@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(39, 16, 0, 0.45);
}
.modalContent {
}
.closeButton {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 14.6%;
  right: 10%;
  z-index: 100;
}
.post,
.album,
.talkToTree,
.delivery,
.plantTree,
.help,
.moveTree {
  position: absolute;
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

.noticeTitle {
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}
.whiteAdd {
  position: absolute;
  left: -10%;
}
.delivery {
  left: 18%;
  top: 15%;
}
.album {
  left: 18%;
  top: 44%;
}
.talkToTree {
  left: 18%;
  top: 77%;
}
.moveTree {
  top: 5%;
  right: 15%;
}
.plantTree {
  top: 10.6%;
  right: 19%;
}
.plantTreeArrow {
  top: 35%;
  right: -35%;
}
.help {
  top: 25%;
  right: 9%;
}
.helpArrow {
  left: 73%;
  bottom: 100%;
  z-index: 1;
}
.post {
  right: 18%;
  top: 52%;
}
.postBoxArrow {
  top: 55%;
  right: 102%;
}
.postBoxArrow,
.plantTreeArrow,
.albumArrow,
.helpArrow,
.talkArrow {
  position: absolute;
}
.albumArrow {
  top: 100%;
  left: 60%;
}
.talkArrow {
  top: 110%;
  left: 55%;
}
