@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 130vh;
}
.containerBg {
  position: absolute;
  z-index: -1;
}
.contentContainer {
  position: absolute;
  width: 80%;
  top: 25%;
  left: 25%;
}
.wreathList {
  display: flex;
}
.logo {
  position: absolute;
  top: 12%;
}
.latest {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 20px;
}
.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #627b00;
}
.fImg {
  width: 34px;
  height: 25px;
}
.memorialHall {
  width: 335px;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  margin-left: 25px;
  margin-top: 5px;
}
.priceWp {
  display: flex;
  margin-left: 72px;
}
.price {
  width: 153px;
  height: 40px;
  color: #627b00;
  font-family: "Pretendard Variable";
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
}
.dateWp {
  display: flex;
  width: 235px;
  height: 40px;
  margin-left: 130px;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
}

.time {
  position: relative;
  left: 15px;
}