@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.container {
  position: absolute;
  top: 122px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 16, 0, 0.45);
}

.closeButton {
  color: #fff;
  font-size: 40px;
  position: relative;
  left: 1045px;
  bottom: 177px;
  cursor: pointer;
}
.post,
.album,
.talkToTree,
.delivery,
.plantTree,
.help,
.moveTree {
  position: relative;
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

.noticeTitle {
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}
.whiteAdd {
  position: absolute;
  left: -10%;
}
.delivery {
  right: 400px;
  bottom: 150px;
}
.album {
  right: 400px;
  bottom: 300px;
}
.talkToTree {
  right: 400px;
  top: 250px;
}
.moveTree {
}
.plantTree {
}
.plantTreeArrow {
}
.help {
  left: 810px;
  bottom: 150px;
}
.helpArrow {
  left: 240px;
  bottom: 40px;
}
.post {
  left: 520px;
  bottom: 130px;
}
.postBoxArrow {
  top: 55%;
  right: 102%;
}
.postBoxArrow,
.plantTreeArrow,
.albumArrow,
.helpArrow,
.talkArrow {
  position: absolute;
}
.albumArrow {
  top: 100px;
  left: 40%;
}
.talkArrow {
  top: 110%;
  left: 60%;
}
