@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 130vh;
}
.containerBg {
  position: absolute;
  z-index: -1;
}
.logo {
  position: absolute;
  top: 12%;
}
.innerContainer {
  height: 100%;
  width: 60%;
  max-width: 1300px;
  min-width: 1000px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.profile {
  display: flex;
  position: absolute;
  top: 20%;
}
.profileImgModifyBtn {
  position: absolute;
  top: 60%;
  left: 17%;
  cursor: pointer;
}
.userDetail {
  margin-left: 30px;
  margin-top: 10px;
}
.user {
  width: 193px;
  height: 58px;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.days {
  width: 225px;
  height: 38px;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}
.answerState {
  width: 569px;
  height: 38px;
  color: #739c1d;
  font-family: "Pretendard Variable";
  font-size: 28px;
  font-weight: 400;
}

.modifyBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 27%;
  text-align: center;
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 44px;
  background: linear-gradient(180deg, #fff9e4 0%, #ffda57 100%);
  box-shadow: 0px 4.43px 4.43px 0px rgba(0, 0, 0, 0.25);
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 35px;
  font-weight: 700;
  padding-top: 13px;
}
.stateProfileFlex {
  display: flex;
}
.state {
  width: 228px;
  height: 46px;
  border-radius: 41px;
  border: 1.628px solid #627b00;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: absolute;
  left: 55%;
  top: 9%;
}
.treeState,
.flowerState,
.plantDateState,
.line {
  color: #627b00;
  font-family: "Pretendard Variable";
  font-size: 23px;
  font-weight: 500;
}
.line {
  margin-left: 10px;
  margin-right: 10px;
}
.list {
  width: 950px;
  height: 200px;
  display: flex;
  margin-top: 44%;
  position: relative;
  margin-left: 15%;
}
.write,
.flower,
.rememberTree {
  cursor: pointer;
  text-align: center;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-weight: 700;
  width: 270px;
  height: 200px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.write,
.flower {
  margin-right: 80px;
}
.write img,
.flower img,
.rememberTree img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.rememberTree img {
  margin-top: 30px;
  margin-bottom: 10px;
}

.flower img {
  margin-bottom: 25px;
}
